* {
  margin: 0;
  padding: 0;
}

:root {
  font-family:  "Alice", serif;
  color: #573A37;
}

body {
  background-image: url(public/bg.jpg);
  background-size: cover;

}

#page {
  box-sizing: border-box; /* Para tirar o padrão da caixa */
  width: 800px;
  background-color: #F0E8C2;
  padding: 24px;
  border-radius: 24px;
  margin: 48px auto;
}

img {
  border-radius: 16px;
}

main {
  padding: 24px;
}

#about p + p {
  margin-top: 12px;
}

h1 {
  line-height: 140%;
  font-size: 40px;
}

h2 {
  font-size: 24px;
  margin-top: 24px;
}

ul { 
  padding-left: 24px;
}

h1, h2 {
  color: #291B1A;
  margin-bottom: 4px;
  line-height: 150%;
}

.author {
  display: flex;
  justify-content: center;
  font-size: 16px;

  margin: 28px 0px 48px 0px;

  color: #F0E8C2;
}